{% extends 'base.html' %}
{% block title %}Корзина{% endblock %}
{% block content %}
<div>
    <h1>Корзина</h1>
    {% if carts %}
        <table border="1">
            <tr>
                <th>Название</th>
                <th>Цена</th>
                <th>Кол-во</th>
                <th>Общая сумма</th>
                <th></th>
            </tr>
            {% for cart in carts %}
                <tr>
                    <td>{{ cart[1] }}</td>
                    <td>{{ cart[3] }}</td>
                    <td>{{ cart[2] }}</td>
                    <td>{{ cart[3] * cart[2]}}</td>
                    <td>
                        <form method="post">
                            <input type="hidden" name="id_product" value="{{cart.0}}">
                            <button class="btn_delete">Удалить</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    <p>Общая сумма: {{ sum }} руб.</p>
    <form action="/order" method="post">
        <input type="hidden" name="summa" value="{{sum}}">
        <button>Заказать</button>
    </form>
    {% else %}
        <p>Корзина пуста</p>
    {% endif %}
</div>
{% endblock %}