<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
    <ul>
        <li>
            <a href="/">Главная</a>
        </li>
         <li>
            <a href="/reg">Регистрация</a>
        </li>
         <li>
            <a href="/login">Авторизация</a>
        </li>
    </ul>
<h1>Авторизация</h1>
    {% if s %}
    <p>Вы успешно авторизировались как админ</p>
    {% endif %}
<form action="" method="post">
            <input type="text" name="login" id="" placeholder="Логин">
            <input type="password" name="password" id="" placeholder="Пароль">

            <input type="submit" name="btn_auth" value="Авторизироваться">
        </form>
</body>
</html>