{% extends 'base.html' %}
{% block content %}
    <h2>Все доступные книги</h2>
<form action="/search" method="post">
    <input type="text" name="query" placeholder="Ваш запрос...">
    <button>Поиск</button>
</form>
    <table>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Author</td>
            <td>isbn</td>
            <td>year</td>
            <td>quantity</td>
            <td>available</td>
            <td></td>
        </tr>
    {% for i in books %}
         <tr>
            <td>{{i.0}}</td>
            <td>{{i.1}}</td>
            <td>{{i.2}}</td>
            <td>{{i.3}}</td>
            <td>{{i.4}}</td>
            <td>{{i.5}}</td>
            <td>
                {% if i.6 == 1 %}
                    +
                {% else %}
                    -
                {% endif %}
            </td>
             <td>
                 <a href="/delete/{{i.0}}">Удалить</a>
                  <a href="/edit/{{i.0}}">Обновить</a>
             </td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}