{% extends 'base.html' %}
{% block content %}
<h2>Редактирование </h2>
<form method="post">
    <p>
        <label>Title: </label>
        <input type="text" name="title" value="{{book.1}}">
    </p>
      <p>
        <label>Author: </label>
        <input type="text" name="author" value="{{book.2}}">
    </p>
    <p>
        <label>isbn: </label>
        <input type="text" name="isbn" value="{{book.3}}">
    </p>
    <p>
        <label>Year: </label>
        <input type="text" name="year" value="{{book.4}}">
    </p>
    <p>
        <label>Quantity: </label>
        <input type="text" name="quantity" value="{{book.5}}">
    </p>
    <p>
        <button>Обновить</button>
    </p>
</form>
{% endblock %}