<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>Управление библиотекой</h2>
    <nav>
        <ul>
            <li><a href="/">Книги</a></li>
            <li><a href="/add">Добавить книгу</a></li>
            <li><a href="/members">Читатели</a></li>
            <li><a href="/members/add">Добавить читателя</a></li>
            <li><a href="/orders">Заказы</a></li>
            <li><a href="/orders/add">Добавить заказ</a></li>
        </ul>
    </nav>

    {% block content %}{% endblock %}
<footer>
    <p>Все права защищены</p>
</footer>
</body>
</html>